# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Node.js
# =========================
**/node_modules/
**/.npm/
**/.yarn/
**/.pnp/
**/.pnp.js

# =========================
# Coverage / Testing
# =========================
**/coverage/
**/.nyc_output/

# =========================
# React Native / Metro
# =========================
**/.metro-health-check*
**/.expo/
**/.expo-shared/

# =========================
# Android
# =========================
.gradle/
**/.gradle/

build/
**/build/

.externalNativeBuild/
**/.externalNativeBuild/

.cxx/
**/.cxx/

captures/
local.properties

*.apk
*.aab
output.json

google-services.json

*.jks
*.keystore

*.hprof

# =========================
# iOS / Xcode
# =========================
**/Pods/

DerivedData/
**/DerivedData/

*.pbxuser
!default.pbxuser

*.mode1v3
!default.mode1v3

*.mode2v3
!default.mode2v3

*.perspectivev3
!default.perspectivev3

xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.xcuserstate

**/.xcode.env.local

# =========================
# Fastlane
# =========================
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots/
**/fastlane/test_output/

# =========================
# IntelliJ / Android Studio
# =========================
.idea/
**/.idea/

*.iml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# =========================
# Bundle Artifacts
# =========================
*.jsbundle

# =========================
# Kotlin
# =========================
.kotlin/

# =========================
# Temporary
# =========================
tmp/
temp/